/* GO WILD AND BE CREATIVE! */
body{
    background-color: rgba(15,15,15,255);
    color: white;
    margin: 0px;
    height: 300px;
}

.navbar{
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0px;
    display: flex;
    flex-wrap: nowrap;
}
.navbar p{
    font-size: 1em;
    top: 10px;
    cursor: default;
    margin-left: 20px;
}
.navbar ul li{
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding-left: 10px;;
    font-size: 1 em;
}
.navbar a{
    text-decoration: none;
    color: white;
    float: right;
}
.name{
    line-height: 1px;
    text-align: left;
    margin: 100px 40px 80px;
}
.name h4{
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 3.75em;
}
.name h1{
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size:8em;
    line-height: 20px;
}
.name h5{
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}
.socials{
    margin-left: 40px;
}
.socials a{
    text-decoration: none;
}

.name img{
    display: flex;
    float: right;
    margin-right: 130px;
    margin-top: -100px;

}

#aboutme{
    height: 500px;
    background-color: rgba(41,62,73,255);
    margin: 100px 0;
    display: block;
}
