body{
    background-color: #18072B;
    color: white;
}

nav{
    background-color:rgba(0,28,36,.15);
    font-family: "Roboto";
    font-size: 16px;
    display: inline-flexbox;
    justify-content: center;
    align-items: end;
    flex-wrap: nowrap;
    flex-direction:row;
    color: white;
    overflow: hidden;
}

nav p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: default;
    transition: width 2px; 
}

.frontdive{
    font-family: "Lato";
    text-align: center;
    line-height: 0.5px;
    color: white;
}
h1{
    font-family: "Public Sans";
    font-size: 32px;
}
article{
    display: block;
}

.art-1{
    text-align: center;
    border: solid 1px rgb(255, 255, 255);
    color: black;
    background-color:#d37ccf;
    max-width: 60%;
    height: 250px;
    margin-left: 5em;
}
.image1{
    float: left;
    padding-left: 20px;
    padding-top: 20px;

}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    max-width: 30%;
  }