* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #05192d;
    color: white;
}

header{
    background-color: white;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto; 
    padding: 0 20px;
}
nav img{
    width: auto;

}
nav img:last-child {
    align-items: left;
    margin-left: auto; 
}

h1{
    font-family: "League Spartan";
    text-align: center;
    margin: 40px auto;
    font-size: 2rem;
}

p{
    font-family: "Lato";
    font-size: 1.5rem;
    font-weight: 600;
    color: #05192d;
}


#guessButton,
#revealButton,
#newNumberButton{
    height: 30px;
    width: 60px;
    font-family: "Roboto Flex";
    border-radius: 5px;
    border: 1px solid black;
}
#guessButton:hover,
#revealButton:hover,
#newNumberButton:hover{
    color: black;
    background-color: goldenrod;
    box-shadow: 2px 2px 4px 0px black;
    cursor: pointer;
}
#userGuess{
    width: 100px;
    max-width: 200px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
}
.game-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 600px; 
   margin: 60px auto;
   padding: 50px;
   box-sizing: border-box;
   border: 1px solid white; 
   height: 300px;
   border-radius: 25px;
   background-color: #dfe6e9;
}
.game-container .button-container {
    display: flex;
    justify-content: space-around;
    width: 100%; 
}
.game-container p,
.game-container input,
.game-container button {
    margin-bottom: 20px;
}

#feedback{
    font-family: "Roboto Flex";
    color: #05192d;
}

@media screen and (max-width: 575.98px) {
    *{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    body{
        max-width: 100%; 
    }
    header{        
        background-color: white;
    }
    nav{
        width: fit-content;
    }
    nav img {
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .github-logo {
        display: none;
    }
    h1 {
        font-size: 1.5rem;
        margin: 40px auto;
    }

    p {
        font-size: 1rem;
    }
    .game-container {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 50px auto;
        padding: 20px;
        width: 300px;
    }

    #userGuess {
        font-size: 1.5rem;
    }
    #feedback{
        text-align: center  ;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    *{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    body{
        max-width: 100%; 
    }
    header{        
        background-color: white;
    }
    nav{
        width: fit-content;
    }
    nav img {
        margin-bottom: 10px;


        height: 35px;
    }

    h1 {
        font-size: 1.5rem;
        margin: 60px auto;
    }

    p {
        font-size: 1.2rem;
    }
    .game-container {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: auto;
        padding: 20px;
        width: 500px;
    }

    #userGuess {
        font-size: 1.5rem;
    }
    #feedback{
        text-align: center  ;
    }
}

@media screen and (min-width: 992px) {
    *{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    body{
        max-width: 100%; 
    }
    header{        
        background-color: white;
    }
    nav{
        width: fit-content;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        margin: 0 auto; 
        padding: 0 20px;
    }
    nav img{
        width: auto;
    
    }
    nav img:last-child {
        align-items: left;
        margin-left: auto; 
    }
}